<body>
    <div class="dlnetNimbusCardsContainer">

        <img class="background" src="../../Assets/images/productsBackground.svg" alt="">

        <div class="background"></div>
        


        <div class="productsSubtitle">
            Hemos trabajado durante años procesando acero de refuerzo
        </div>


        <div class="cardsSubcontainer">

            <div id="dlnetNimbusLink" href="/dlnetNimbus" onclick="route()">
                <div class="card" id="dlnetNimbusCard"> 
                    <img src="../../Assets/images/rebarSheetImg.svg" alt="">
                    <div class="cardText">
                        <div class="square"></div>
                        <div class="cardTitle">
                            <div class="text">Genere cartillas</div>
                        </div>
                        <div class="cardDescription">
                            Genere sus cartillas para pedir el acero de refuerzo                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="dlnetControlCard">
                <img src="../../Assets/images/chipaImg.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">Pida el acero</div>
                    </div>
                    <div class="cardDescription">
                        Genere sus cartillas para pedir el acero de refuerzo                    </div>
                </div>
            </div>

            <div class="card" id="dlnetProfesionalCard">
                <img src="../../Assets/images/dlnetNimbusPhone.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">Súbalas a la nube</div>
                    </div>
                    <div class="cardDescription">
                        Genere sus cartillas para pedir el acero de refuerzo                    </div>
                </div>
            </div>

            <div class="card" id="dlnetProfesionalCard">
                <img src="../../Assets/images/assemblingMesh.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">Construya</div>
                    </div>
                    <div class="cardDescription">
                        Genere sus cartillas para pedir el acero de refuerzo                    </div>
                </div>
            </div>

        </div>

        

    </div>



    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../components/productCards/productCards.js"></script>
</body>