<body>
    <div class="homeDescriptionContainer">


        <div class="firstDescription">
            <img src="../../Assets/images/screen.svg" alt="Imagen">

            <div class="textContainer">
                <div class="title">
                    DL-NET: Simplifica y Optimiza tus Cartillas de Acero Figurado y Mejora Tu Eficiencia
                </div>
                <div class="text">
                    Con DL-NET, generar cartillas se convierte en un proceso sencillo y eficiente. Nuestra herramienta
                    de gran experiencia te permite manejar tus cartillas de acero figurado de acuerdo con los requisitos
                    de las normas técnicas y los detalles específicos de cada figurador, sin importar el tipo de figura
                    o sus características.
                    ¡Es hora de simplificar tu trabajo y obtener resultados excepcionales!
                </div>
            </div>
        </div>

        <div class="secondDescription">
            <img class="img1" src="../../Assets/images/computer.png" alt="">
            <img class="img2" src="../../Assets/images/computer.png" alt="">

            <img class="logo" src="../../Assets/images/logo DLNet.svg" alt="">

            <div class="titleTop">
                Simplifica el corte de acero, gana en productividad y control
            </div>

            <div class="titleBottom">
                Agilidad y precisión en cada corte: nuestro software lo hace posible
            </div>

            <img class="img3" src="../../Assets/images/flujo DLNet control 1.svg" alt="">
        </div>
    </div>

    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- <script src="../../components/homeDescription/homeDescription.js"></script> -->
</body>