<body>
    <div class="dlnetNimbusSliderContainer">

        <img src="../../Assets/images/meltingSteel.png" alt="Imagen">

        <div class="logo_description">
            <img class="dlnetLogo" src="../../Assets/images/dlnetNimbus_logo.svg" alt="">

            <div class="descriptionContainer">
                Transforme su Proceso de Creación de Cartillas de Acero Figurado: Descubra DL-NET Nimbus
            </div>
        </div>


    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- <script src="../../components/dlnetNimbusSlider/dlnetNimbusSlider.js"></script> -->
</body>