<body>
    <div class="productCardsContainer">

        <img class="background" src="../../Assets/images/productsBackground.svg" alt="">

        <div class="productsTitle">
            Nuestros productos DL-Net
        </div>

        <div class="productsSubtitle">
            Hemos trabajado durante años procesando acero de refuerzo
        </div>


        <div class="cardsSubcontainer">

            <div class="card" id="dlnetNimbusCard">
                <img src="../../Assets/images/dlnetNinbus_card.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">DL-Net Nimbus</div>
                    </div>
                    <div class="cardDescription">
                        Genere sus cartillas para pedir el acero de refuerzo
                    </div>
                </div>
            </div>
            <div class="card" id="dlnetControlCard">
                <img src="../../Assets/images/dlnetControl_card.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">DL-Net Control</div>
                    </div>
                    <div class="cardDescription">
                        Simplifica el corte de acero, gana en productividad y control
                    </div>
                </div>
            </div>

            <div class="card" id="dlnetProfesionalCard">
                <img src="../../Assets/images/dlnetProfesional_card.svg" alt="">
                <div class="cardText">
                    <div class="square"></div>
                    <div class="cardTitle">
                        <div class="text">DL-Net Profesional</div>
                    </div>
                    <div class="cardDescription">
                        Genere sus cartillas para pedir el acero de refuerzo
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- <script src="../../components/productCards/homeDescription.js"></script> -->
</body>