<body>
    <div class="dlnetBenfitsContainer">

        <div class="cardsContainer">
            <div class="benefitsTitle">
                Principales Beneficios
            </div>

            <div class="card">
                <img src="../../Assets/icons/stats.svg" alt="">
                <div class="cardTitle">
                    <div class="text">Sencillez inigualable:</div>
                </div>
                <div class="cardDescription">
                    Gana simplicidad en los procesos de creación de cartillas. Con DL-NET Nimbus, hemos pensando en la
                    facilidad de uso, podrás generar tus cartillas de acero figurado de manera rápida y sin esfuerzo.
                </div>
            </div>
            <div class="card">
                <img src="../../Assets/icons/adaptationIcon.svg" alt="">
                <div class="cardTitle">
                    <div class="text"> Adaptación completa:</div>
                </div>
                <div class="cardDescription">
                    Adaptamos la herramienta a tus necesidades específicas. Ya sea que trabajes con figuras estándar o
                    personalizadas, DL-NET Nimbus te permite configurar y ajustar los detalles de cada figura,
                    asegurando la máxima precisión en tus cartillas.
                </div>
            </div>
            <div class="card">
                <img src="../../Assets/icons/cloudIcon.svg" alt="">
                <div class="cardTitle">
                    <div class="text"> Almacenamiento en la nube:</div>
                </div>
                <div class="cardDescription">
                    Accede a los datos de tus cartillas desde cualquier dispositivo con conexión a internet. Gracias a nuestro almacenamiento en la nube, tendrás la información a tu alcance en todo momento, ya sea que necesites recibirla del proveedor de acero o entregarla en obra.
                </div>
            </div>
            <div class="card">
                <img src="../../Assets/icons/certificationIcon.svg" alt="">
                <div class="cardTitle">
                    <div class="text"> Cumplimiento normativo:</div>
                </div>
                <div class="cardDescription">
                    DL-NET Nimbus garantiza que tus cartillas cumplan con los estándares de la normativa vigente, asegurando la calidad y la conformidad en tus proyectos de construcción.
                </div>
            </div>
            <div class="card">
                <img src="../../Assets/icons/groupEficiencyIcon.svg" alt="">
                <div class="cardTitle">
                    <div class="text"> Eficiencia en los procesos:</div>
                </div>
                <div class="cardDescription">
                    Simplifica tus procesos y optimiza tu flujo de trabajo. Con DL-NET Nimbus, podrás realizar un seguimiento completo de tus cartillas, agilizando la gestión y asegurando una entrega oportuna del acero.
                </div>
            </div>
        </div>





    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- <script src="../../components/dlnetBenfits/homeDescription.js"></script> -->
</body>