.dlnetBenfitsContainer {
    background: #191A1E;
    background-image: url("../../Assets/images/benefits.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Inria Serif', serif;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.dlnetBenfitsContainer .cardsContainer {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    max-width: 1000px;
}

.dlnetBenfitsContainer .benefitsTitle {
    background: #191A1E;
    width: 210px;
    height: 250px;
    margin: 30px;
    font-size: 30px;
    line-height: 30px;
    background: none;
}

.dlnetBenfitsContainer .card {
    background: #191A1E;
    width: 210px;
    height: 250px;
    margin: 30px;
    border: 1px white solid;
}



.dlnetBenfitsContainer .card img {
    position: relative;
    margin-top: -30px;
    background-color: #191A1E;
    left: 20px;
    padding: 10px;
    border-radius: 50%;
}

.dlnetBenfitsContainer .card .cardTitle {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: -10px;
}

.dlnetBenfitsContainer .card .cardTitle .text {
    width: 115px;
    margin-right: 20px;
}

.dlnetBenfitsContainer .card .cardDescription {
    font-size: 11px;
    line-height: 20px;
    margin-top: 10px;
    padding: 10px;
}