<body>
    <div class="topbarContainer">

        <div class="left">
            <a href="/" onclick="route()">Home</a>
            <a href="/about" onclick="route()">Quiénes somos</a>
            <!-- <button id="homeButton" href="/" >Home</button>
            <button id="dlnetNimbusButton" href="/dlnetNimbus" onclick="route()">dlnetNimbus</button> -->
        </div>

        <div class="center">
            <img src="../../Assets/images/logo DDS.png.png" alt="">
        </div>

        <div class="right">
            <button id="loginButton" onclick="page('/home')">Login</button>
            <button id="registerButton" onclick="page('/dlnetNimbus')">register</button>
        </div>


    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../components/topbar/topbar.js"></script>
</body>