<!-- link this html with the page.js on which is goint to be called -->

<body>
    <div class="dlnetControlSliderContainer">

        <img src="../../Assets/images/meltingSteel.png" alt="Imagen">

        <div class="logo_description">
            <img class="dlnetLogo" src="../../Assets/images/dlnetControl_logo.svg" alt="">

            <div class="descriptionContainer">
                Encuentre los datos de sus cartillas para recibir el acero del proveedor o entregarlo a la obra, desde cualquier dispositivo conectado a internet gracias al almacenamiento en la nube.
            </div>
        </div>


    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>