<!-- link this html with the page.js on which is goint to be called -->

<body>
    <div class="dlnetControlDescriptionContainer">


        <div class="firstDescription">
            <div class="textContainer">
                <div class="title">
                    DL-NET Control: Gestiona tu Acero con Confianza y Control en la Nube:                 </div>
                <div class="text">
                    El DL-NET Control es la solución perfecta para mantener un seguimiento preciso del acero en el almacén de tu obra. Con nuestra herramienta, podrás tener un control total sobre tus pedidos y consumos, además de recibir informes diarios que te mantendrán al tanto de todos los detalles. Prepárate para disfrutar de una gestión eficiente y mantener tus datos siempre al alcance de tu mano, gracias a nuestro almacenamiento en la nube.
                </div>
            </div>

            <img src="../../Assets/images/operatorImg.svg" alt="Imagen">
        </div>

        <div class="centralImage">
            <img src="../../Assets/images/dlnetScreen.svg" alt="">
        </div>

        <div class="secondDescription">
            <img class="img1" src="../../Assets/images/computer.png" alt="">
            <img class="img2" src="../../Assets/images/computer.png" alt="">

            <img class="logo" src="../../Assets/images/logo DLNet.svg" alt="">

            <div class="titleTop">
                Cree cartillas de acero figurado de manera sencilla y eficiente.
                <div class="subtitle">
                    El DL-NET Nimbus le permite manejar cartillas de acero figurado con los requisitos de norma y los detalles de cada figurador, sin importar el tipo de figura y sus características.
                </div>
            </div>

            <div class="img3Container">
                <img class="img3" src="../../Assets/images/dlnetControlSchema.svg" alt="">
            </div>
        </div>
    </div>

    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>