<body>
    <div class="homeSliderContainer">

        <img src="../../Assets/images/meltingSteel.png" alt="Imagen">

        <div class="logo_description">
            <img class="dlnetLogo" src="../../Assets/images/logo DLNet.svg" alt="">

            <div class="descriptionContainer">
                Simplifica y Optimiza tus Cartillas de Acero Figurado y Mejora Tu Eficiencia
            </div>
        </div>


    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../components/homeSlider/homeSlider.js"></script>
</body>